---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FreeEntryBadge from "../components/FreeEntryBadge.astro";
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>

        <link rel="icon" href="/favicon.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap"
            rel="stylesheet"
        />
        <script>
            let lastScrollY = window.scrollY;
            const header = document.querySelector(".hide-on-scroll");

            window.addEventListener("scroll", () => {
                if (!header) return;

                if (window.scrollY > lastScrollY && window.scrollY > 100) {
                    // Scroll hacia abajo
                    header.classList.add("header--hidden");
                } else {
                    // Scroll hacia arriba
                    header.classList.remove("header--hidden");
                }

                lastScrollY = window.scrollY;
            });
        </script>
    </head>

    <body>
        <Header />
        <main><slot /></main>
        <Footer />
        <!-- <FreeEntryBadge /> -->
    </body>
</html>
